.gundam-button{
    background-color: cyan;
    width: 200px;
    overflow:  hidden;
    border: 5px solid #d7ee0b;
    clear: both;
    float: right;
}

body
{
    background-image: url('./pictures/418124.jpg');
    
    background-size: cover;

}
.frameDiv{
    
    text-align: center;
    border: orange solid 1px;
    width: 15rem;
    height: 25rem;
    color: #d7ee0b;
}